body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.hero { 
  position: relative; 
  height: 100vh; 
  background: url('castlenew.jpg') center/cover no-repeat;
  display: flex; 
  align-items: center; 
  justify-content: center; text-align: center; 
}

.overlay {
  background: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius: 10px;
}

.hero h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 64px;
  margin: 0 0 10px 0;
}

.hero p {
  font-family: 'Great Vibes', cursive; /* якщо хочеш той самий шрифт, що й у h1 */
  font-size: 36px;                     /* можна регулювати розмір */
}

.hero p .venue {
  display: block;
  margin-top: 10px; /* відстань між датою і місцем */
}

#countdown {
  font-family: 'Great Vibes', cursive; /* той самий рукописний шрифт */
  font-size: 26px;                     /* можна підкоригувати */
  margin-top: 15px;                     /* відстань від дати/місця */
  color: #333;                          /* колір тексту */
}

.info {
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.info h2 {
  text-align: center;
  margin-bottom: 30px;
}

.info-block {
  margin-bottom: 30px;
}

.info-block h3 {
  margin-bottom: 10px;
}
